<div *ngFor="let user of users">
  <div class="user-item" (click)="onItemClicked(user)"[ngClass]="{selected:currentUser && currentUser.id === user.id}" >
    <div>
      <img [src]="user.info.avatar" />
    </div>
    <div>
      <div>
        id: {{ user.id}}
      </div>
      <div>
        username:{{ user.username | ellipsis:5 }}
      </div>
      <div>
        email: {{ user.email | ellipsis:20}}
      </div>
      <div>
        Job Title: {{ user.info.jobTitle | ellipsis:10 }}
      </div>
    </div>
  </div>

</div>
