.user-item{
  width: 300px;
  border-radius: 10px;
  border: solid 1px lightgray;
  padding: 10px;
  cursor: pointer;
  display: flex;
}


.user-item img{
  width: 100px;
  margin-right: 10px;
}

.user-item.selected{
  background-color: lightblue;
}

