<div *ngIf="currentUser">
  <div>
    id: {{ currentUser.id }}
  </div>
  <div>
    <input type="text" [value]="currentUser.username" #usernameInput placeholder="Enter user name" />
  </div>
  <div>
    <input type="text" [value]="currentUser.email" #emailInput placeholder="Enter email" />
  </div>
  <div>
    <button (click)="updateUser(usernameInput.value,emailInput.value)" >Save</button>
  </div>
</div>

<div *ngFor="let user of users">
  <div class="user-item" (click)="onItemClicked(user)"[ngClass]="{selected:currentUser && currentUser.id === user.id}" >
    <div>
      <img [src]="user.info.avatar" />
    </div>
    <div>
      <div>
        id: {{ user.id}}
      </div>
      <div>
        username:{{ user.username}}
      </div>
      <div>
        email: {{ user.email }}
      </div>
      <div>
        Job Title: {{ user.info.jobTitle }}
      </div>
    </div>
  </div>

</div>
