<div class="container">
  <form class="form-group" novalidate="novalidate" #userForm="ngForm" (ngSubmit)="onSubmit()">
  <div>
      <label class="control-label">
        Username <input class="form-control" placeholder="Enter Username"
          name="username"
          [(ngModel)]="user.username"
          #username="ngModel"
          required
          [minlength]="4"

      />
      </label>
      <div *ngIf="username.touched && !username.valid">
        <div class="label label-danger">
          <span *ngIf="username.errors.required">
            This field is required.
          </span>
          <span *ngIf="username.errors.minlength">
            Username must be at least 4 characters.
          </span>
        </div>
      </div>
  </div>
  <div>
    <label class="control-label">
      Email  <input class="form-control" placeholder="Enter email"
           name="email"
           [(ngModel)] ="user.email"
           #email="ngModel"
           required
           [pattern]="emailPattern"
    />
    </label>
    <div *ngIf="email.touched && !email.valid">
      <div class="class="label label-danger">
          <span *ngIf="email.errors.required">
            This field is required.
          </span>
        <span *ngIf="email.errors.pattern">
            Please Enter a valid email
          </span>
      </div>
     </div>
  <div>
    <label class="control-label">
      First Name <input class="form-control" placeholder="Enter first Name"
                          [(ngModel)] ="user.firstName"
                          name="firstName"/>
    </label>
  </div>
  <div>
    <label class="control-label">
      Last Name <input class="form-control" placeholder="Enter last Name"
                         [(ngModel)] ="user.lastName"
                         name="lastName"/>
    </label>
  </div>
  <div>
    <label class="control-label">
      Avatar : <input class="form-control"
                        placeholder="Enter Avatar Url"
                      [(ngModel)] ="user.avatar"
                      name="avatar" />
    </label>
  </div>

  <div>
    <button class="btn btn-default" type="submit" [disabled]="!userForm.form.valid" >Submit</button>
  </div>
</form>
</div>
